body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

button{
    height: 35px;
    width: 80px;
    background-color: darkcyan;
    color: white;
    margin: 20px;
}


h1 {
    margin: 10px;
}

.main{
    position: relative;
    left: 50px;

}

.nav-bar a {
    color: white;
    text-decoration: none;
    margin: 15px;
}


.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 0px 17%;
}

    .nav-bar {
        display: flex;
        justify-content: center;
        align-items: center; 
    }

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 24%;
}

    .about {
        margin: 25px;
        border: 2px solid black;
        height: 550px;
        width: 700px;
    }

        .banner {
            width: 700px;
            height: 150px;
            background-color: darkcyan;
        }

        .about-content {
            margin: 0px 25px 25px 25px;
        }

            .ping {
                height: 25px;
            }
            .city {
                font-size: 25px;
            }
        
    .education {
        border: 2px solid black;
        height: 325px;
        width: 700px;
        margin: 25px;
    }

        .ed-header {
            background-color: darkslategray;
            width: 700px;
            height: 75px;
            color: white;
            display: flex;
            text-indent: 25%;
        }

        .ed-content {
            margin: 25px;
        }

.side-content {
    display: flex;
    flex-direction: column;
    margin:50px;
    position: relative;
    top: 38px;
    right: 25px;
}

    .requests {
        height: 375px;
        width: 400px;
        border: 2px solid black;
        margin: 25px 0px;

    }

        .req-header {
            background-color: darkslategray;
            height: 75px;
            width: 400px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .connections {
            height: 600px;
            width: 400px;
            border: 2px solid black;
        }

        .conn-header{
            background-color: darkslategray;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .connections-pics {
            border-radius: 50%;
            height: 80px;
            margin: 0px 25px;
        }

        .req-pics {
            border-radius: 50%;
            height: 80px;
            margin: 15px;
            align-items: center;
        }

        #bottom-tag {
            border-top: 2px solid black;
            color: blue;
            text-decoration: underline;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 60px;
            padding: 10px;
        }

        #req-span {
            background-color: gray;
            color: black;
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }

        #conn-span {
            border-radius: 50%;
            background-color: gray;
            color: black;
        }

#gear {
    height: 25px;
    width: 25px;
}

#prof_pic {
    height: 150px;
    border-radius: 50%;
    margin-top: -75px;
    margin-left: 25px;
    top: -75px;
    left: 25px;
}

.requests_pics1 {
    display: flex;
    align-items: center;

}

.requests_pics1 .select {
    margin: 10px;
}

.requests_pics2 {
    display: flex;
    align-items: center;

}

.requests_pics2 .select {
    margin: 10px;
}

.select {
    height: 25px;
    margin: 25px;
}

.connections-content {
    display: flex;
    align-items: center;
}